/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

/*
 * colors
 * #827BF7: OCI purple
 * #5970D6: OCI blue
 * #25225E: OCI navy background
 * #82C8FA: Lottie blue
 */
 
.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #121212;
  color: #a0a0a0;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroSvg {
  height: 200px;
  width: 200px;
}
