.featureDetails {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureDetailsSvg {
  height: 200px;
  width: 200px;
}

.featureDetailsText {
  display: flex;
  align-items: center;
}

.featureDetailsCode {
  width: calc(100vw - 4rem);
  overflow-x: scroll;
}

.stripe {
  background-color: rgba(30,30,30,1.0);
}
