.signUp {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 100%;
    border-radius: 4px;
    background-color: #215e60;
    color: #e7e7e7;
}

.signUpHeading {
    margin: 1rem 0 0.5rem;
}

.signUpFlexDiv {
    flex: 1;
}

.mailchimpForm {
    margin-top: 20px;
}

.submitEmail {
    display: flex;
}

.emailInput {
    flex: 3;
    width: 100%;
    height: 46px;
    padding: 0px 10px;
    border: 1px solid #67cbcf;
    border-radius: 6px;
    background-color: #121212;
    font-size: 16px;
    color: #e7e7e7;
}

.emailInput:focus {
    outline: none;
}

.svg {
    width: 1.25rem;
    height: 1.25rem;
    margin: 20px;
}

.animateSpin {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 800px) {
    Link, .emailInput, .signUpFlexDiv {
        flex: none;
    }
    .submitEmail {
        flex-wrap: wrap;
        justify-content: center
    }

    .signUp {
        flex-direction: column;
        text-align: center;
    }
  }